
form { 
 
    width: 100vh;
    height: 100vh;
    background-image: url(./img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;; 
    
    

}

#containerinternacional{
    background-color: rgba(0, 0, 0, 0.767);
    padding: 1%;
    border-radius: 2%;
}

